extends layout

block content
	h1= article.title
	h6 Creted by #{article.author}
	p= article.body
	a.btn.btn-primary(href="/article/edit/" + article._id) Edit
	a.btn.btn-danger.delete-article.ml-2(href="#", data-id=article._id) Remove